<mat-card class="col-6 offset-3">
  <h2>Login</h2>
  <mat-form-field>
    <input matInput [(ngModel)]="username" placeholder="username" />
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="password" placeholder="password" type="password"/>
  </mat-form-field>
<!--  {{username}} -->
  <div class="loginButtonContainer">
    <button mat-flat-button color="primary" (click)="Login()">Login</button>
    <button mat-flat-button (click)="Cancel()">Cancel</button>
  </div>
</mat-card>
