<nav>
  <div class="col-8 offset-2">
    <h2>MyApp</h2>
    <ul>
      <li><a>Add new event</a></li>
      <li><a>Login</a></li>
    </ul>
  </div>
</nav>

<div class='container'>
    <img [src]="event.imageSrc" />
    <h1>{{event.name}}</h1>
    <p>{{event.date}}</p>
    <p>{{event.price}}</p>
    <p>{{event.description}}</p>

    <img [src]="eventSecond.imageSrc" />
    <h1>{{eventSecond.name}}</h1>
    <p>{{eventSecond.date}}</p>
    <p>{{eventSecond.price}}</p>
    <p>{{eventSecond.description}}</p>

    <img [src]="eventThird.imageSrc" />
    <h1>{{eventThird.name}}</h1>
    <p>{{eventThird.date}}</p>
    <p>{{eventThird.price}}</p>
    <p>{{eventThird.description}}</p>

    <img [src]="eventFourth.imageSrc" />
    <h1>{{eventFourth.name}}</h1>
    <p>{{eventFourth.date}}</p>
    <p>{{eventFourth.price}}</p>
    <p>{{eventFourth.description}}</p>

    <img [src]="eventFifth.imageSrc" />
    <h1>{{eventFifth.name}}</h1>
    <p>{{eventFifth.date}}</p>
    <p>{{eventFifth.price}}</p>
    <p>{{eventFifth.description}}</p>
  </div>

